.main {
  display: flex;
  background-color: #00336d;
  height: auto;
  min-height: 100vh;
}

.leftPart {
  background-color: #191d20;
  width: 20vw;
  height: auto;
}

.logoPart {
  /* border: 1px solid red; */
  margin-inline-start: 15;
  margin-block: 10;
}

.profilePart {
  /* border: 1px solid blue; */
}

.postsPart {
  background-color: #191d20;
  width: 60vw;
  height: auto;
  border-left: 3px solid rgb(65, 65, 65);
  border-right: 3px solid rgb(65, 65, 65);
}

.title {
  margin: 15;
}

.newPost {
  border: 1px solid green;
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
}

.displayPosts {
  /* border: 1px solid greenyellow; */
  width: 100%;
  height: auto;
}

.rightPart {
  background-color: #191d20;
  display: flex;
  width: auto;
  height: auto;
}