.newPost {
    /* border: 1px solid red; */
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.textarea {
    width: 100%;
    height: 60%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid rgb(65, 65, 65);
    color: white;
}

.bottomBar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}