.newPost {
    /* border: 1px solid red; */
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 1; */
    margin: 10;
}

.textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 15vh;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid rgb(65, 65, 65);
    color: white;
}

.bottomBar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border: 1px solid red; */
    padding-inline: 15;
    padding-block: 5;
    gap: 15;
    min-height: 10vh;
    /* height: 10vh; */
}