.post {
    /* border: 3px solid red; */
    width: 100%;
    height: auto;
}

.postAuthor {
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.responsiveLogo {
    margin-inline: 10px;
    border-radius: 50%;
}

.firstname {
    margin-inline: 10px;
}

.publicationTime {
    margin-inline: 10px;
    color: rgb(146, 146, 146);
}

.postContent {
    /* border: 1px solid blueviolet; */
}

.postAction {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}