.title {
    width: 90%;
    text-align: center;
    padding-right: 30;
}

.actionButton {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* gap: 20; */
}
