.main {
  display: flex;
  background-color: #00336d;
  height: auto;
  min-height: 100vh;
}

.leftPart {
  background-color: #191d20;
  width: 20vw;
  height: auto;
}

.logoPart {
  /* border: 1px solid red; */
  margin-inline-start: 15;
  margin-block: 10;
}

.userPart {
  background-color: #191d20;
  width: 60vw;
  height: auto;
  border-left: 3px solid rgb(65, 65, 65);
  border-right: 3px solid rgb(65, 65, 65);
}

.userInfo {
  border: 1px solid red;
  display: flex;
  align-items: center;
  min-height: 150;
}

.avatarContainer {
  border: 1px solid red;
}

.avatar {
  border-radius: 50%;
  /* border: 1px solid red; */
}

.name {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-inline-start: 10;
}

.postPart {
  border: 1px solid blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6vh;
}

.displayPosts {
  /* border: 1px solid greenyellow; */
  width: 100%;
  height: auto;
}

.rightPart {
  background-color: #191d20;
  width: 20vw;
  height: auto;
}

.actionButton {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20;
  gap: 15;
}