.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  min-height: 100vh;
  padding: 4rem 0;
  background-color: #00336d;
}

.div {
  background-color: #00336d;  
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}